<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SHOWOFF</title>

        <link rel="stylesheet"
            href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <script src="https://kit.fontawesome.com/7e5c572194.js"
            crossorigin="anonymous"></script>

        <!-- Link Swiper's CSS -->
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

        <link rel="stylesheet" href="/gallery.css">
        <link rel="stylesheet" href="/index.css">

    </head>
    <body>
        <!-- ================================== Narv Bar ======================== -->

        <nav id="narve-bar">
            <div class="logo">
                <h2>SHOWOFF</h2>
                <ul class="narv-ul">
                    <a href="/"><li>Home</li></a>
                    <a href=""><li>About</li></a>
                    <a href="/gallery.html"><li>Gallery</li></a>
                    <a href=""><li>Shop</li></a>
                    <li class="category">Category 
                        <i class="uil uil-angle-down"></i>
    
                        <ul class="category-items">
                            <a href=""><li><i class="uil uil-annoyed-alt"></i> Animation</li></a>
                            <a href=""><li><i class="uil uil-pen"></i> Branding</li></a>
                            <a href=""><li><i class="uil uil-illustration"></i> Illustration</li></a>
                            <a href=""><li><i class="uil uil-brush-alt"></i>  Paint</li></a>
                            <a href=""><li><i class="uil uil-print"></i> Print</li></a>
                            <a href=""><li><i class="uil uil-window"></i> Design</i></a>
                            <a href=""><li><i class="uil uil-text-fields"></i> Typography</li></a>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="narve-right">
                <i class="uil uil-search"></i><input type="text" placeholder="search. . .">
                <i class="uil uil-shopping-cart first"></i>
                <i class="uil uil-moon" id="light"></i>
                <img src="/imges/Profile-Icon.png" alt="">
                <button>Upload</button>
            </div>
        </nav>


        <!-- ==================================== main Body ======================= -->
        <section id="main-body">
            <div>
                <h2>Explore our best digital / art work </h2>
                <h1>Best Digital / Art Work</h1>
                <div class="button-input">
                    <input type="text" placeholder="search .......">
                    <button><i class="uil uil-search-alt"></i></button>
                </div>
            </div>
        </section>



        <section class="gallery">
            <img src="/imges/show1.webp" alt="">
            <img src="/imges/show2.webp" alt="">
            <img src="/imges/show3.webp" alt="">
            <img src="/imges/show4.webp" alt="">
            <img src="/imges/show5.webp" alt="">
            <img src="/imges/show6.webp" alt="">
            <img src="/galleryImg/g1.webp" alt="">
            <img src="/galleryImg/g2.webp" alt="">
            <img src="/galleryImg/g3.webp" alt="">
            <img src="/galleryImg/g4.webp" alt="">
            <img src="/galleryImg/g5.webp" alt="">
            <img src="/galleryImg/g6.webp" alt="">
        </section>
    </body>

    <!-- ============================footer============================ -->
    <footer>
        <div class="footer">
            <div class="footer_image">
                Showoff
                <span>
                    BMP Inovations is the best place to solve your
                    business branding
                    and growth challenges, make an other today and feel
                    satisfield.
                </span>

            </div>

            <div class="quick_links">
                <h4>QUICK LINKS</h4>
                <a href="{% url 'gallery' %}"><span>Gallery</span></a>
                <a href="{% url 'gallery' %}"><span>About us</span></a>
                <a href="{% url 'contact' %}"><span>Contact us</span></a>
                <a href="{% url 'dashboard' %}"><span>Dashboard</span></a>
            </div>

            <div class="address">
                <h4>ADDRESS</h4>
                <span>34 D/line, Port Harcourt, Rivers State</span>
                <span>+234 80944 22807, +234 80944 22807</span>
                <span>bmpinovations@gmail.com</span>
            </div>

            <div class="social">
                <h4>SOCIAL MEDIA</h4>
                <i class="uil uil-facebook"></i>
                <i class="uil uil-instagram"></i>
                <i class="uil uil-twitter"></i>
                <i class="uil uil-github"></i>
                <button>Sign Up</button>
            </div>
        </div>

        <hr
            style="height:0.5px;border-width:0;color:rgb(237, 3, 69);background-color:rgb(210, 210, 210); margin-bottom:40px;">
        <span class="copy">Copyright © 2021-2023 Showoff Company
            S.L. All rights reserved.</span>

    </footer>

    <script src="/main.js"></script>

    <!-- Swiper JS -->
    <script
        src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js">
    </script>
</html>