* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    text-decoration: none;
  }

  :root{
    --small-font: 15px;
    --big-font:70px;
    --medium-font:40px;
    --icon-size: 23px;
    --white-color:white;
    --white-grey:rgb(248, 248, 248);
    --red-color:#FF5959;
    --button-red-color:#ffe2e2;
    --black-color:black;
  }


  .light-theme{
    --white-color:white;
    --black-color:black;
    --red-color:#FF5959;
    --dark-red-color: #dc3535;
    --white-grey:rgb(248, 248, 248);
    --button-red-color:#ffe2e2;

  }


  .dark-theme{
    --white-color:black;
    --black-color:white;
    --red-color:rgb(255, 191, 0);
    --dark-red-color: #dc3535;
    --white-grey:rgb(13, 12, 12);
    --button-red-color:#484847;
    
  }


  body{
    background-color: var(--white-color);
  }


  /* ========================== Narve bar ================= */

  #narve-bar{
    padding: 30px 5%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--white-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    width: 100%;
    z-index: 3;
    align-content: center;
    align-items: center;
  }

  .logo{
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .logo h2{
    cursor: pointer;
    font-size: 20px;
    color:var(--red-color);
  }

  .logo h2:hover{
    transition: all ease-in-out 0.5s;
    font-weight: bold;
  }


  .narv-ul li{
    display: inline-block;
    padding-right: 30px;
    font-size: 14px;
    cursor: pointer;
    color: var(--black-color);
  }

  a{
    text-decoration: none;
  }


  .narv-ul li:hover{
  }


  .category{
    position: relative;
  }

  .category:hover{
    color: var(--black-color);
  }


.category-items{
  display: none;
  background-color: var(--white-color);
  position: absolute;
  top: 50px;
  left: -50px;
  padding: 40px 0;
  padding-bottom: 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 300px;
  border-radius: 10px;
}

.category-items li{
  display: block;
  padding-top: 10px ;
  padding-bottom: 10px ;
  color: var(--black-color);
  padding-left: 40px;
  margin-top: 20px;
}

.category-items li:hover{
  background-color:#FF5959;
  color: white;
}

.uil-annoyed-alt,
.uil-pen,
.uil-illustration,
.uil-brush-alt,
.uil-print,
.uil-window,
.uil-text-fields{
  font-size: 25px;
  padding-right: 20px;
}

.none{
  display: block;
}



  /* ======================== right narve========================= */

  .narve-right{
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .narve-right input{
    width: 50%;
    padding: 10px;
    padding-left: 50px;
    border-radius: 10px;
    border: var(--button-red-color) 2px solid;
    background-color: var(--white-color);
    color: var(--black-color);
    outline-style: var(--dark-red-color);
    
  }


  .uil-search, .uil-shopping-cart, .uil-moon{
    font-size: var(--icon-size);
    cursor: pointer;
    color: var(--black-color);
  }

  .uil-moon{
    transform: scale(1.1);
  }

  .uil-search{
    position: absolute;
    left: 15px;
    top: 10px;
    z-index: 2;
    font-size: 18px;
  }

  .narve-right img{
    width: 50px;
  }

  .narve-right button{
    margin: 0;
    padding: 10px 20px;
  }


  

  /* =================================== main body ======================================= */
  #main-body{
    display: grid;
    height: 80vh;
    width: 100%;
    position: relative;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 60px;
}



#main-body::before{
    background-image:url(/imges/bg.png);
    height: 80vh;
    width: 100%;
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    inset: 0;
    opacity: 0.2;
    animation: bgchange 20s linear infinite;
}

  
  @keyframes bgchange{
    0%{
        background-image: url(/imges/bg.png);
    }
  
    10%{
        background-image: url(/imges/bag\ \(2\).jpg);
    }
  
    15%{
      background-image: url(/imges/bag\ \(2\).jpg);
    }
  
    20%{
      background-image: url(/imges/bag\ \(3\).jpg);
    }
  
    25%{
      background-image: url(/imges/bag\ \(3\).jpg);
    }

  }




#main-body h2, h1, p, input, button{
    isolation: isolate;
}

#main-body h1 {
    font-size: var(--big-font);
}

#main-body input {
    width: 100%;
    padding: 10px 50px;
    margin-top: 30px;
    border: none ;
    outline: none;
    border-radius: 10px;
}


.button-input{
    display: flex;
    text-align: center;
    gap: 5px;

}

.button-input button i{
    padding: 0;
}


button {
    padding: 15px 20px;
    margin-top: 30px;
    color: white;
    background-color:var(--red-color);
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

button:hover{
    background-color:#dc3535;
    transition: all ease-in-out 0.5s;
}

.span{
    margin-top: 50px;
    isolation: isolate;
}
#main-body span{
    text-align: center;
    margin-right: 20px;
    padding: 10px 50px;
}

#main-body p{
  color: white;
}

.register{
    border:var(--red-color) solid 2px;
    color: white;
    cursor: pointer;
}

.register:hover{
    color: var(--red-color);
    transition: all ease-in-out 0.5s;
    font-weight: 500;
}


.login{
    border:var(--red-color) solid 2px;
    color: white;
    cursor: pointer;
}

.login:hover{
    color: var(--red-color);
    transition: all ease-in-out 0.5s;
    font-weight: 500;
}


/* ===================== gallery =========================== */
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px 5%;
    grid-gap: 30px;
}


.gallery img{
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--white-grey);
}

.gallery img:hover{
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  padding: 20px;
}