
* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
    text-decoration: none;
  }

  :root{
    --small-font: 15px;
    --big-font:70px;
    --medium-font:40px;
    --icon-size: 23px;
    --white-color:white;
    --white-grey:rgb(248, 248, 248);
    --red-color:#FF5959;
    --button-red-color:#ffe2e2;
    --black-color:black;
  }


  .light-theme{
    --white-color:white;
    --black-color:black;
    --red-color:#FF5959;
    --dark-red-color: #dc3535;
    --white-grey:rgb(248, 248, 248);
    --button-red-color:#ffe2e2;

  }


  .dark-theme{
    --white-color:black;
    --black-color:white;
    --red-color:rgb(255, 191, 0);
    --dark-red-color: #dc3535;
    --white-grey:rgb(13, 12, 12);
    --button-red-color:#484847;
    
  }


  body{
    background-color: var(--white-color);
  }


  /* ========================== Narve bar ================= */

  #narve-bar{
    padding: 30px 5%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--white-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    width: 100%;
    z-index: 3;
    align-content: center;
    align-items: center;
  }

  .logo{
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .logo h2{
    cursor: pointer;
    font-size: 20px;
    color:var(--red-color);
  }

  .logo h2:hover{
    transition: all ease-in-out 0.5s;
    font-weight: bold;
  }


  .narv-ul li{
    display: inline-block;
    padding-right: 30px;
    font-size: 14px;
    cursor: pointer;
    color: var(--black-color);
  }

  a{
    text-decoration: none;
  }


  .narv-ul li:hover{
  }


  .category{
    position: relative;
  }

  .category:hover{
    color: var(--black-color);
  }


.category-items{
  display: none;
  background-color: var(--white-color);
  position: absolute;
  top: 50px;
  left: -50px;
  padding: 40px 0;
  padding-bottom: 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 300px;
  border-radius: 10px;
}

.category-items li{
  display: block;
  padding-top: 10px ;
  padding-bottom: 10px ;
  color: var(--black-color);
  padding-left: 40px;
  margin-top: 20px;
}

.category-items li:hover{
  background-color:#FF5959;
  color: white;
}

.uil-annoyed-alt,
.uil-pen,
.uil-illustration,
.uil-brush-alt,
.uil-print,
.uil-window,
.uil-text-fields{
  font-size: 25px;
  padding-right: 20px;
}

.none{
  display: block;
}



  /* ======================== right narve========================= */

  .narve-right{
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .narve-right input{
    width: 50%;
    padding: 10px;
    padding-left: 50px;
    border-radius: 10px;
    border: var(--button-red-color) 2px solid;
    background-color: var(--white-color);
    color: var(--black-color);
    outline-style: var(--dark-red-color);
    
  }


  .uil-search, .uil-shopping-cart, .uil-moon{
    font-size: var(--icon-size);
    cursor: pointer;
    color: var(--black-color);
  }

  .uil-moon{
    transform: scale(1.1);
  }

  .uil-search{
    position: absolute;
    left: 15px;
    top: 10px;
    z-index: 2;
    font-size: 18px;
  }

  .narve-right img{
    width: 50px;
  }

  .narve-right button{
    margin: 0;
    padding: 10px 20px;
  }


  

  /* =================================== main body ======================================= */
  #main-body{
    display: grid;
    height: 95vh;
    width: 100%;
    position: relative;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 60px;
}



#main-body::before{
    background-image:url(/imges/bg.png);
    height: 95vh;
    width: 100%;
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    inset: 0;
    opacity: 0.2;
    animation: bgchange 20s linear infinite;
}

  
  @keyframes bgchange{
    0%{
        background-image: url(/imges/bg.png);
    }
  
    10%{
        background-image: url(/imges/bag\ \(2\).jpg);
    }
  
    15%{
      background-image: url(/imges/bag\ \(2\).jpg);
    }
  
    20%{
      background-image: url(/imges/bag\ \(3\).jpg);
    }
  
    25%{
      background-image: url(/imges/bag\ \(3\).jpg);
    }

  }




#main-body h2, h1, p, input, button{
    isolation: isolate;
}

#main-body h1 {
    font-size: var(--big-font);
}

#main-body input {
    width: 100%;
    padding: 10px 50px;
    margin-top: 30px;
    border: none ;
    outline: none;
    border-radius: 10px;
}


.button-input{
    display: flex;
    text-align: center;
    gap: 5px;

}

.button-input button i{
    padding: 0;
}


button {
    padding: 15px 20px;
    margin-top: 30px;
    color: white;
    background-color:var(--red-color);
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

button:hover{
    background-color:#dc3535;
    transition: all ease-in-out 0.5s;
}

.span{
    margin-top: 50px;
    isolation: isolate;
}
#main-body span{
    text-align: center;
    margin-right: 20px;
    padding: 10px 50px;
}

#main-body p{
  color: white;
}

.register{
    border:var(--red-color) solid 2px;
    color: white;
    cursor: pointer;
}

.register:hover{
    color: var(--red-color);
    transition: all ease-in-out 0.5s;
    font-weight: 500;
}


.login{
    border:var(--red-color) solid 2px;
    color: white;
    cursor: pointer;
}

.login:hover{
    color: var(--red-color);
    transition: all ease-in-out 0.5s;
    font-weight: 500;
}


/* ========================== AFTER BODY 1 ================================= */

#after-body1{
    padding: 100px 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    
}

#after-body1 img{
    width: 100%;
    border-radius: 20px;
}

.after1-flex h3{
    font-size: 20px;
    color: grey;
    font-weight: 500;
}

.after1-flex h1{
    font-size:var(--medium-font) ;
    color: var(--red-color);
}

.after1-flex p{
    font-size:var(--small-font);
    text-align: justify;
    line-height: 30px;
    padding-top: 20px;
    color: var(--black-color);
}



/* ========================== AFTER BODY 1 ================================= */

#after-body2{
    padding: 100px 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--white-grey);
}

#after-body2 img{
    width: 100%;
}

.after2-flex h3{
    font-size: 20px;
    color: grey;
    font-weight: 500;
}

.after2-flex h1{
    font-size:var(--medium-font) ;
    color: var(--red-color);
}

.after2-flex p{
    font-size:var(--small-font);
    text-align: justify;
    line-height: 30px;
    padding-top: 20px;
    color: var(--black-color);
}





/* ==================== collections ============================== */

#collections{
    padding: 30px 10%; 
    justify-items: center;
}

.collect1{
    text-align: center;
    padding-bottom: 30px;
    color: var(--black-color);
    padding-top: 50px;
}


.collect1 h1{
    font-size: var(--medium-font);
    color: var(--red-color);
}

.collect2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}


.collect2-body{
    background-color: var(--white-grey);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.collect2-body:hover{
    transform: scale(0.9);
    transition: all ease-in-out 0.5s;
}
.collect2 img{
    width: 100%;
    border-radius: 10px 0 10px 0;
}


.collect2-body .p_des{
    display: flex;
    gap: 120px;
    padding: 50px 20px;
    padding-left: 40px;
    color: var(--black-color);
}

.uil-object-ungroup, .uil-layer-group{
    font-size: 20px;
    color: var(--red-color);
}


#collections button{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    width: 200px;
    margin-top: 50px;
    font-size: 16px;

}


/* ========================== show-case ============================= */
.show-case{
    text-align: center;
    padding: 100px 10%; 
    background-color: var(--white-color);
    margin-top: 60px;
}

.show-case h1, p{
    color: var(--black-color);
}

.show-case h1{
    font-size: var(--medium-font);
    padding-bottom: 30px;
    padding-top: 10px;
    color: var(--red-color);
}



.swiper-wrapper{
    grid-gap: 30px;
}

.swiper-slide img{
    width: 100%;
    height: 350px;
    border-radius: 20px;
    margin-bottom: 70px;
}








/* =========================== footer ============================== */


footer {
    background-color: var(--white-grey);
    color: var(--black-color);
    padding: 50px 10%;
    padding-top: 80px;
  }
  
  
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 100px;
    justify-items: center;
    justify-content: center;
    margin: auto;
    align-content: center;
    margin-bottom: 50px;
  }
  
  .footer_image img {
    width: 70px;
  }
  
  .footer_image span {
    display: block;
    font-size: 13px;
    font-weight: 300;
    color: var(--black-color);
    padding-top: 20px;
  }
  
  
  .quick_links h4 {
    padding-bottom: 20px;
  }
  
  .quick_links a {
    text-decoration: none;
    color: var(--black-color);
    display: block;
    font-size: 13px;
    padding-top: 10px;
  }
  
  .quick_links a:hover {
    color: #a0c8f3;
  }
  
  
  .address h4 {
    padding-bottom: 20px;
  }
  
  .address span {
    font-size: 13px;
  }
  
  .social h4 {
    padding-bottom: 20px;
  }
  
  .social i {
    font-size: 25px;
    margin-right: 10px;
    color: var(--red-color);
  }
  
  
  .social button {
    display: block;
    color: var(--red-color);
    color: white;
    border: none;
    width: 150px;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: bold;
  }
  
  
  .copy {
    display: block;
    margin-top: 30px;
    font-size: 13px;
  }
  